<%- include('header') %>
  <form action="/infoin" method="post" enctype="multipart/form-data">
    <p class="text_center">填写贷款信息</p>
    <div class="js_nowshow">
      <div class="weui-cells weui-cells_form">
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <label class="weui-label">借款人姓名</label>
            </div>
            <div class="weui-cell__bd">
              <input type="text" class="weui-input text_ltr" name="infoname"/>
            </div>
          </div>
          <div class="weui-cell">
            <div class="weui-cell__hd">
              <label class="weui-label">身份证号</label>
            </div>
            <div class="weui-cell__bd">
              <input type="number" class="weui-input text_ltr" id="js_infocard" name="infocard"/>
            </div>
          </div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">机构代码</label>
          </div>
          <div class="weui-cell__bd">
            <input type="text" placeholder="请输入机构代码" value="<%= codeji %>" readonly="readonly" name="infocode" id="js_jigou" class="weui-input text_ltr"/>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">房产地址</label>
          </div>
          <div class="weui-cell__bd">
            <input type="text" class="weui-input text_ltr" readonly="" placeholder="选择地区" id="demo1" name="infoarea"/>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">贷款类型</label>
          </div>
          <div class="weui-cell__bd">
            <select name="infotype" class="weui-select text_ltr">
              <option value="房产">房产</option>
              <option value="信用">信用</option>
              <option value="车贷">车贷</option>
            </select>
          </div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">贷款金额</label>
          </div>
          <div class="weui-cell__bd">
            <input type="number" class="weui-input text_ltr" name="infoloan" />
          </div>
          <div class="weui-cell_ft">
            <p>万元</p>
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <a href="javascript:;" class="weui-btn weui-btn_primary js_now_change">下一页</a>
      </div>
    </div>
    <div class="js_nowhide hide">
      <div class="weui-cells">
        <div class="weui-gallery" id="gallery">
          <span class="weui-gallery__img" id="galleryImg"></span>
          <div class="weui-gallery__opr">
              <a href="javascript:" class="weui-gallery__del">
                  <i class="weui-icon-delete weui-icon_gallery-delete"></i>
              </a>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__bd">
            <div class="weui-uploader">
              <div class="weui-uploader__hd">
                <p class="weui-uploader__title">上传房产证照片</p>
              </div>
              <div class="weui-uploader__bd">
                <ul class="weui-uploader__files" id="uploaderFiles"></ul>
                <div class="weui-uploader__input-box">
                  <input type="file" id="uploaderInput" class="weui-uploader__input" name="infofile" accept="image/*" multiple/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="weui-cells">
        <div class="weui-cell weui-cell_select weui-cell_select-after">
          <div class="weui-cell__hd">
            <label class="weui-label">房产证类型</label>
          </div>
          <div class="weui-cell__bd">
            <select name="infoHomeType" class="weui-select text_ltr">
              <option value="旧版">旧版</option>
              <option value="新版">新版</option>
            </select>
          </div>
        </div>
        <div class="weui-cell">
          <div class="weui-cell__hd">
            <label class="weui-label">房产证号</label>
          </div>
          <div class="weui-cell__bd">
            <input type="text" class="weui-input text_ltr" name="infoHomeNumber"/>
          </div>
        </div>
        <div class="weui-cell weui-cell_select weui-cell_select-after">
          <div class="weui-cell__hd">
            <label class="weui-label">抵押顺位</label>
          </div>
          <div class="weui-cell__bd">
            <select name="infoDiYa" class="weui-select text_ltr">
              <option value="一抵">一抵</option>
              <option value="二抵">二抵</option>
            </select>
          </div>
        </div>
      </div>
      <div class="weui-btn-area">
        <input  type="submit" class="weui-btn weui-btn_primary" value="确定提交"/>
      </div>
    </div>
  </form>
  <script src="/javascripts/LAreaData1.js"></script>
    <script src="/javascripts/LAreaData2.js"></script>
    <script src="/javascripts/LArea.js"></script>
    <script>
    var area1 = new LArea();
    area1.init({
        'trigger': '#demo1', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
        'valueTo': '#value1', //选择完毕后id属性输出到该位置
        'keys': {
            id: 'id',
            name: 'name'
        }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
        'type': 1, //数据源类型
        'data': LAreaData //数据源
    });
    </script>
<%- include('footer') %>
