<%- include('header') %>

<% docs.forEach(function(doc){%>
  <div class="weui-cells">
    <a class="weui-cell" href="/message/<%= doc.phone %>">
      <%= doc.username %>
    </a>
  </div>
<% }) %>

<%- include('footer') %>
